aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
chardet
charset-normalizer
dataclasses
deprecation
frozenlist
gcloud
googleapis-common-protos
gotrue
h
httpcore

httpx
idna
iniconfig
joblib
jsonlines
jws
multidict
numpy
oauthclient
openai
packaging
pandas
pluggy
postgrest
postgrest-py
protobufrc
psycopg-binary
py
pyasn
pyasn-modules
pycryptodome
pydantic
pydantic_core
pyparsing
Pyrebase
pytest
python-dateutil
python-dotenv
python-jwt
pytz
realtime
realtime-py
requests
requests-toolbelt
rfc
rsa
scikit-learn
scipy
six
sniffio
storage
StrEnum
supabase
supabase-py
supafunc
threadpoolctl
toml
tqdm
typing_extensions
tzdata
urllib
websockets
yarl
